<div class="container">
    <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-info mb-2 btn-sm" (click)="toggleView()"> back to main</button>      
        </div>

        <form action="" [formGroup]="VillageHeadData">
            <div class="card p-3 mt-4">
                <div class="d-flex justify-content-center mb-3"> गावातील एकूण मतदान</div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="">गावचे नाव:</label>
                            <input type="text" formControlName="villageName" class="form-control form-control-sm" placeholder="अ क्र">
                        </div>
                        <div class="col-lg-3">
                            <label for="">ता.:</label>
                            <input type="text" formControlName="taluka" class="form-control form-control-sm" placeholder="नाव">
                        </div>
                        <div class="col-lg-2">
                            <label for="">गावातील एकूण मतदान : </label>
                           <input type="text" formControlName="villageTotalVotting" class="form-control form-control-sm" placeholder="पद">
                        </div>
                        <!-- </div> -->
                       <!-- <div class="row mt-2"> -->
                        <div class="col-lg-2">
                            <label for="">पुरुष</label>
                            <input type="text" formControlName="males" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">महिला</label>
                            <input type="text" formControlName="femails" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                       </div>
                       <div class="d-flex justify-content-center mt-3">
                        <label>जात Details</label>
                       </div>
                       <div class="row mt-2">
                        <div class="col-lg-2">
                            <label for="">मराठा</label>
                            <input type="text" formControlName="maratha" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">मुस्लिम</label>
                            <input type="text" formControlName="muslim" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">धनगर</label>
                            <input type="text" formControlName="dhangar" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">वंजारी</label>
                            <input type="text" formControlName="vanjari" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">माळी</label>
                            <input type="text" formControlName="mali" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">दलित</label>
                            <input type="text" formControlName="dalit" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                       </div>
                       <div class="row mt-2">
                        <div class="col-lg-2">
                            <label for="">वडर</label>
                            <input type="text" formControlName="vadar" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">लमान</label>
                            <input type="text" formControlName="laman" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">कुंभर</label>
                            <input type="text" formControlName="kumbhar" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                        <div class="col-lg-2">
                            <label for="">न्हावी</label>
                            <input type="text" formControlName="navhi" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>
                       </div>


                        

                    <!-- </div> -->
                    <div class="d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-info btn-sm" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        
        <!-- <form action="" [formGroup]="RashtravadiFormData">
            <div class="card p-3">
                <div class="d-flex justify-content-center mb-3">गावातील राष्ट्रवादी कार्यकर्ते यादी</div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-1">
                            <label for="">अ क्र</label>
                            <input type="text" formControlName="SRNO" class="form-control form-control-sm" placeholder="अ क्र">
                        </div>
                        <div class="col-lg-5">
                            <label for="">नाव</label>
                            <input type="text" formControlName="userName" class="form-control form-control-sm" placeholder="नाव">
                        </div>
                        <div class="col-lg-3">
                            <label for="">पद </label>
                           <input type="text" formControlName="degree" class="form-control form-control-sm" placeholder="पद">
                        </div>
                        <div class="col-lg-3">
                            <label for="">मो नंबर</label>
                            <input type="text" formControlName="mobile" class="form-control form-control-sm" placeholder="मो नंबर">
                        </div>

                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-info btn-sm" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </form> -->
</div>

