<div class="mb-5 bg-body-tertiary">
    <div class="bg-body-tertiary">
        <style>
            .background-img {background-image: url('../assets/data3.jpeg');background-size: cover;    
            }
        </style>
        <div class="background-img">
         <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 p-5">
            <h1 class=" d-flex justify-content-start text-white mt-5" style="font-size:5vw;"><b> Gallery</b></h1>
                    <div class="d-flex justify-content-start">
                        <button class="btn btn mb-5 text-white">Home</button> 
                        <p class="text-white mt-2"><b>l</b></p>
                        <button class="btn btn mb-5 text-white">Gallery</button> 
                      </div>
                </div>
            </div>      
         </div>    
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="row">
            <div class="col-lg-3 p-3">
                <img src="../assets/data1.jpeg" alt="" class="w-100 h-100">
            </div>
            <div class="col-lg-3 p-3">
                <img src="../assets/data2.jpeg" alt="" class="w-100 h-100">
            </div>
            <div class="col-lg-3 p-3">
                <img src="../assets/data3.jpeg" alt="" class="w-100 h-100">
            </div>
            <div class="col-lg-3 p-3">
                <img src="../assets/data4.jpeg" alt="" class="w-100 h-100">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 p-3">
                <img src="../assets/data1.jpeg" alt="" class="w-100 h-100">
            </div>
            <div class="col-lg-3 p-3">
                <img src="../assets/data2.jpeg" alt="" class="w-100 h-100">
            </div>
        </div>
    </div>
   
</div>