<div class="container">
  <div class="card mt-2">
 <!-- <img src="../assets/Kakade.jpeg" alt="" class="w-100 h-75 shadow"> -->
 <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/Kakade.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Vajr nirdhar melava</h5>
          <p>vajr nirdhar melava organize by harshda tai kakade Janshakti vikas aghadi.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/data3.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Vajr nirdhar melava</h5>
          <p>vajr nirdhar melava organize by harshda tai kakade Janshakti vikas aghadi.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/data4.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Vajr nirdhar melava</h5>
          <p>vajr nirdhar melava organize by harshda tai kakade Janshakti vikas aghadi.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

 <!-- Footer -->
 <footer class="text-center text-lg-start bg-secondary footer mt-2">
  <div class="container p-4 pb-0">     
      <section class="">
          <div class="row">        
              <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase text-warning">FOOTER</h5>
                  <p class="text-white">
                     Hello, I am Ganesh Pund author of <span><a href="">sp3college.in</a></span> . and I was developed this web application for students
                      get all easy solution of all education fields under the SPPU university. We are providing
                      previous question paper and aslo notes of programming languages like
                      HTML, Java Script etc.
                  </p>
              </div>

              <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase text-warning">Contact Us</h5>

                  <ul class="list-unstyled mb-0">
                      <li>
                          <a href="" class="text-white"><span> <i
                              class="fa fa-whatsapp"></i></span> Join our whatsapp group </a>
                      </li>
                      <li>
                          <a href="#!" class="text-white"><span> <i
                              class="fa fa-phone"></i></span>  Contact: 9420415477</a>
                      </li>
                  </ul>
              </div>      
          </div>
      </section>
      <hr class="mb-4" />

      <section class="mb-4 text-center">
       
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                  class="fa fa-facebook-f"></i></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>

          <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/_ganesh_7_7/"
              role="button"><i class="fa fa-instagram"></i></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-github"></i></a>
      </section>
 
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white">sp3college.in</a>
  </div>
 
</footer>
  </div>
</div>