
<br>
<div class="container">
    <div class="d-flex justify-content-end">
        <button class="btn btn-info mb-2 btn-sm" (click)="toggleView()"> back to main</button>      
        </div>
    <table class="table table-striped table-info VillagePeopledata" >
        <thead>
          <tr>
            <th scope="col-lg-4">SR. No</th>
            <th scope="col-lg-4">Pad</th>                
            <th scope="col-lg-4" >Name of Candidate</th>
            <th scope="col-lg-4" >Contact No</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>सरपंच</td>
            <td>अशोक भानुदास वाघ</td>
            <td>9533884383</td>     
          </tr>
          <tr>
            <tr>
                <th scope="row">2</th>
                <td>सदस्य</td>
                <td>आशोक ज्ञानोबा तिडक</td>
                <td>9533884383</td>     
              </tr>
        </tbody>
      </table> 
</div>